<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>One Piece Crew Builder</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">One Piece Crew Builder</h1>
            <p class="lead">Formulate your crew!</p>
        </div>

        <div class="row">
            <div class="col">

                <h1>Player 1's Crew:</h1>
                {% for role, character in crew1.items() %}
                {% if character %}
                <p>{{ role }}: <a href="{{ character['url'] }}">{{ character["url"].split('/').pop().replace('_', ' ') }}</a></p>
                {% else %}
                <p>{{ role }}: Not assigned</p>
                {% endif %}
                {% endfor %}

                <h2>New Character:</h2>
                <p><a href="{{ new_character1['url'] }}">{{ new_character1["url"].split('/').pop().replace('_', ' ') }}</a></p>
                
                <form method="post">
                    <input type="hidden" name="player" value="1">
                    <div class="form-group">
                        <label for="role">Assign to Role:</label>
                        <input type="text" class="form-control" id="role" name="role">
                    </div>
                    <button type="submit" class="btn btn-primary">Assign</button>
                </form>
            </div>

            <div class="col">
                <h1>Player 2's Crew:</h1>
                {% for role, character in crew2.items() %}
                {% if character %}
                <p>{{ role }}: <a href="{{ character['url'] }}">{{ character["url"].split('/').pop().replace('_', ' ') }}</a></p>
                {% else %}
                <p>{{ role }}: Not assigned</p>
                {% endif %}
                {% endfor %}
                
                <h2>New Character:</h2>
                <p><a href="{{ new_character2['url'] }}">{{ new_character2["url"].split('/').pop().replace('_', ' ') }}</a></p>

                <form method="post">
                    <input type="hidden" name="player" value="2">
                    <div class="form-group">
                        <label for="role">Assign to Role:</label>
                        <input type="text" class="form-control" id="role" name="role">
                    </div>
                    <button type="submit" class="btn btn-primary">Assign</button>
                </form>
            </div>
        </div>

        <div class="mt-5 text-center">
            <a href="/reroll" class="btn btn-secondary">Re-roll</a>
        </div>

        <div class="mt-5 text-center">
            <a href="/" class="btn btn-secondary">Back to Home</a>
        </div>
    </div>
</body>
</html>