<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>One Piece Crew Builder</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        .role-container {
            height: 37px; /* adjust this value as needed */
            display: flex;
            align-items: center; /* this vertically centers the content */
            justify-content: center;
        }
        
        .cyclingButton {
            height: 30px; /* adjust this value to match .role-container height */
        }
    </style>
    <script>
    $(document).ready(function() {
    var symbols = ["=", ">", "<"];
    var crew1Score = 0;
    var crew2Score = 0;

    $(".cyclingButton").click(function() {
        var i = $(this).data('i') || 0;
        var currentSymbol = $(this).text();
        
        i++;
        $(this).text(symbols[i % symbols.length]);
        var newSymbol = $(this).text();

        if (currentSymbol !== newSymbol) {
            // Subtract points if moving away from ">" or "<"
            if (currentSymbol === ">") crew1Score--;
            else if (currentSymbol === "<") crew2Score--;

            // Add points for the new symbol
            if (newSymbol === ">") crew1Score++;
            else if (newSymbol === "<") crew2Score++;
        }

        // Update the displayed score
        $("#crew1Score").text(crew1Score);
        $("#crew2Score").text(crew2Score);

        $(this).data('i', i);
    });
});
    </script>
</head>
<body>
    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">One Piece Crew Builder</h1>
            <p class="lead">Build a crew to find the One Piece!</p>
        </div>

        <div class="row">
            <div class="col-md-5 text-center">

                <h1>Warriors of Elbaf:</h1>
                {% for role, character in crew1.items() %}
                <div class="role-container">
                    {% if character %}
                    <div class="row">
                        <div class="col-12">
                            <p class="mt-1 mb-1" >{{ role }}: <a href="{{ character['url'] }}">{{ character["url"].split('/').pop().replace('_', ' ') }}</a></p>
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="col-12">
                            <form method="post">
                                <input type="hidden" name="player" value="1">
                                <input type="hidden" name="role" value="{{ role }}">
                                <button type="submit" class="btn btn-primary btn-block btn-sm mt-1 mb-1">{{ role }}</button>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                <div class="role-container">
                    <div class="row">
                        <div class="col-12">
                            <p class="mt-1 mb-1">Synergy</p>
                        </div>
                    </div>
                </div>

                <h2>New Character:</h2>
                <p><a href="{{ new_character1['url'] }}">{{ new_character1["url"].split('/').pop().replace('_', ' ') }}</a></p>
            </div>

            <div class="col-md-2 d-flex flex-column justify-content-start align-items-center" style="padding-top: 50px;">
                {% for role in crew1 %}
                    {% if crew1[role] and crew2[role] %}
                        <button class="cyclingButton btn btn-primary mb-1 mt-1 btn-sm" style="width: 100%;">=</button>
                    {% else %}
                        <button class="cyclingButton btn btn-primary mb-1 mt-1 btn-sm" style="width: 100%;" disabled>=</button>
                    {% endif %}
                {% endfor %}
                <button class="cyclingButton btn btn-primary mb-1 mt-1 btn-sm" style="width: 100%;">=</button>
            </div>
            
            <div class="col-md-5 text-center">
                <h1>Laugh Tale Seekers:</h1>
                {% for role, character in crew2.items() %}
                <div class="role-container">
                    {% if character %}
                    <div class="row">
                        <div class="col-12">
                            <p class="mt-1 mb-1">{{ role }}: <a href="{{ character['url'] }}">{{ character["url"].split('/').pop().replace('_', ' ') }}</a></p>
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="col-12">
                            <form method="post">
                                <input type="hidden" name="player" value="2">
                                <input type="hidden" name="role" value="{{ role }}">
                                <button type="submit" class="btn btn-primary btn-block btn-sm mt-1 mb-1">{{ role }}</button>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                <div class="role-container">
                    <div class="row">
                        <div class="col-12">
                            <p class="mt-1 mb-1">Synergy</p>
                        </div>
                    </div>
                </div>

                <h2>New Character:</h2>
                <p><a href="{{ new_character2['url'] }}">{{ new_character2["url"].split('/').pop().replace('_', ' ') }}</a></p>
            </div>
        </div>

        <div class="mt-5 text-center">
            <a href="/reroll" class="btn btn-secondary">Re-roll</a>
        </div>

        <div class="mt-5 text-center">
            <h3>Score</h3>
            <p><span id="crew1Score">0</span> - <span id="crew2Score">0</span></p>
        </div>        

        <div class="mt-5 text-center">
            <a href="/reset_game" class="btn btn-secondary">Play Again</a>
        </div>

        <div class="mt-5 text-center">
            <a href="/" class="btn btn-secondary">Back to Home</a>
        </div>
    </div>
</body>
</html>